body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

h1 {
  color: darkblue;
}

.menu {
  margin: 20px;
}

.menu a {
  margin: 10px;
  text-decoration: none;
  color: white;
  background: darkblue;
  padding: 10px 15px;
  border-radius: 8px;
}

.menu a:hover {
  background: red;
}

p {
  font-size: 18px;
}
